<section class="forgot-password">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="card m-auto">
                    <div class="card-body">
                        <div class="forgot-password-title">
                            <span class="title">Please enter your email address</span>
                        </div>
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="input-field">
                                <input
                                    type="text"
                                    placeholder="Enter your username"
                                    required
                                    appInputFieldStyling
                                    formControlName="email"
                                    />
                                    <fa-icon [icon]="faEnvelope"></fa-icon>
                            </div>  
                            <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                                <small class="text-danger" *ngIf="getControl('email')!.errors?.['required']">{{ validationService.getErrorMessageForControl('Email', getControl('email')!) }}</small>
                                <small class="text-danger" *ngIf="getControl('email')!.errors?.['maxlength']">{{ validationService.getErrorMessageForControl('Email', getControl('email')!) }}</small>
                                <small class="text-danger" *ngIf="getControl('email')!.errors?.['pattern']">{{ validationService.getErrorMessageForControl('Email', getControl('email')!) }}</small>
                            </div>
                                  
                            <button type="submit" class="btn_primary mt-3 mb-3" [disabled]="!forgotPasswordForm.valid">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>