<section class="forgot-password">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="card m-auto">
                    <div class="card-body">
                        <div class="forgot-password-title">
                            <span class="title">Please enter your email address</span>
                        </div>
                        <form>
                            <div class="input-field">
                                <input
                                    type="text"
                                    placeholder="Enter your username"
                                    required
                                    appInputFieldStyling
                                    />
                                    <fa-icon [icon]="faEnvelope"></fa-icon>
                                </div>                       
                            <button type="submit" class="btn_primary mt-3 mb-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>