<section class="topic-reply">
    <div class="container">
        <div class="col-lg-9 m-auto">
            <div class="card">
                <div class="card-body">
                    <h3>Answers</h3>
                    <hr />
                    
                    <p class="m-4" *ngIf="replies.length<1 && !isFetching">This topic has no replies yet.</p>
                    
                    <div *ngIf="!isFetching">
                        <app-topic-reply *ngFor="let reply of replies" [reply]="reply"></app-topic-reply>
                    </div>
                    <div class="d-flex justify-content-center m-1" *ngIf="isFetching">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <form [formGroup]="replyTopicForm" (ngSubmit)="onSubmit()">
                        <div id="submit-container">
                            <quill-editor
                                class="content-editor"
                                [placeholder]="''"
                                [modules]="QuillConfiguration"
                                [styles]="{'height': '160px'}"
                                formControlName="replyText"
                            ></quill-editor>
                            <div *ngIf="getControl('replyText')?.errors && getControl('replyText')?.touched">
                                <small class="text-danger" *ngIf="getControl('replyText')?.errors?.['required']">Reply content is required</small>
                            </div>
                            <button type="submit" class="btn_primary" [disabled]="!replyTopicForm.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>