<section class="topic-reply">
    <div class="container">
        <div class="col-lg-9 m-auto">
            <div class="card">
                <div class="card-body">
                    <div class="lg-md-8 topic-info-question">
                        <h2>Topic Title</h2>
                        <p id="topic-question">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsam neque fugit? Saepe, minima aspernatur aliquam eius similique tempore. Fuga obcaecati, sit quaerat illo dolor aut excepturi quae deserunt voluptatibus.</p>
                    </div>
                    <h3>Answers</h3>
                    <hr />
                        <app-topic-reply></app-topic-reply> 
                    <form>
                        <div id="submit-container">
                            <quill-editor class="content-editor" [placeholder]="''" [modules]="QuillConfiguration" [styles]="{'height': '160px'}" ></quill-editor>
                            <button type="submit" class="btn_primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>