<!-- contactus -->
<section class="contactus">
    <div class="container">
        <div class="contact-grid">
            <div class="contact-body">
                <div class="contact-text">
                    <p>
                        We would be happy to communicate with you if you have any
                        inquiries, technical support needs, or opportunities for
                        collaboration regarding AgriCoin in the agriculture sector. You
                        can send us an email or fill out the contact form to send us a
                        message.
                    </p>
                </div>
            </div>
            <div class="submit-form">
                <h4 class="contact-title title">Contact Us</h4>
                <form>
                    <div class="input-box">
                        <input type="text" class="input" required />
                        <label for="">Name</label>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input" required />
                        <label for="">Email</label>
                    </div>
                    <div class="input-box">
                        <textarea name=""
                                class="input"
                                required
                                id="message"
                                cols="30"
                                rows="10"></textarea>
                        <label for="">Message</label>
                    </div>
                    <button type="submit" class="btn_secondary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
