 <!-- landing section -->
 <section class="landing">
    <div class="container">
        <div class="row">
            <!-- Text -->
            <div class="col-md-6 landing-content">
                <div class="text">
                    A New Way to Invest <br />
                    in Agriculture <br />
                    <span class="text-secondary">
                        AgriCoin provides farmers and agricultural producers <br />
                        with profitable and safe way to sell their agriproduct.
                    </span>
                </div>
                <div class="landing-button">
                    <a class="btn_primary" routerLink="/auth/login">Invest Now</a>
                </div>
            </div>
            <!-- Image -->
            <div class="col-md-6 landing-img">
                <img src="../assets/images/farm.png" alt="smart-agriculture" />
            </div>
        </div>
    </div>
</section>

<!-- process section -->
<section class="process">
    <div class="container">
        <div class="row">
            <div class="title">
                <h3>Why AgriCoin?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="box">
                    <div class="img-container">
                        <div class="img-box">
                            <img src="../assets/images/fast-secure-transaction.png" alt="" />
                        </div>
                    </div>
                    <div class="detail-box">
                        <h5>Fast and secure transactions</h5>
                        <p>
                            With AgriCoin, intermediaries are eliminated and products can
                            be bought and sold more quickly. Additionally, transactions
                            are more secure due to blockchain technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="box">
                    <div class="img-container">
                        <div class="img-box">
                            <img src="../assets/images/transaction-cost.png" alt="" />
                        </div>
                    </div>
                    <div class="detail-box">
                        <h5>Lower transaction costs</h5>
                        <p>
                            Using AgriCoin for payments is cheaper than traditional
                            methods, allowing producers and consumers to save money on
                            transaction fees.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="box">
                    <div class="img-container">
                        <div class="img-box">
                            <img src="../assets/images/transparency.png" alt="" />
                        </div>
                    </div>
                    <div class="detail-box">
                        <h5>Transparency and traceability</h5>
                        <p>
                            AgriCoin's blockchain technology ensures that all transactions
                            are transparent and traceable, making it easier to track the
                            origin and supply chain of products.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="box">
                    <div class="img-container">
                        <div class="img-box">
                            <img src="../assets/images/intermediary.png" alt="intermediaries" />
                        </div>
                    </div>
                    <div class="detail-box">
                        <h5>Fewer intermediaries</h5>
                        <p>
                            With AgriCoin, intermediaries are eliminated, allowing
                            producers and consumers to transact directly with each other.
                            This improves communication and allows for more profits to be
                            made.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <!-- About section -->
 <section class="about">
    <div class="container">
        <div class="row about-info">
            <div class="col-12">
                <div class="text-information">
                    <h5>Let us introduce ourselves</h5>
                    <p>
                        We are taking an important step towards a more sustainable
                        future in agriculture. We are creating an ecosystem where
                        producers and consumers interact directly, resources are
                        utilized more efficiently, and trade is transparent.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> 

<!-- support questions -->
<section class="support-questions">
    <div class="container">
        <div class="row">
            <!-- Image -->
            <div class="col-md-6 questions-img">
                <img src="../assets/images/questions.png"
                    alt="asked-questions"
                    class="w-100" />
            </div>
            <!-- Text -->
            <div class="col-md-6">
                <div class="question-title">
                    <div class="row">
                        <div>
                            <h3>Frequently asked questions</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="questions">
                            <div class="tab">
                                <input type="radio" name="acc" id="acc1" />
                                <label for="acc1">
                                    <h3>What is AgriCoin?</h3>
                                </label>
                                <div class="content">
                                    <p>
                                        AgriCoin is a digital currency designed for payment
                                        transactions in the agricultural sector using blockchain
                                        technology. This currency can be used to buy, sell and
                                        trade agricultural products. AgriCoin offers a secure,
                                        fast and inexpensive payment method for agricultural
                                        transactions.
                                    </p>
                                </div>
                            </div>

                            <div class="tab">
                                <input type="radio" name="acc" id="acc2" />
                                <label for="acc2">
                                    <h3>Why is smart farming important?</h3>
                                </label>
                                <div class="content">
                                    <p>
                                        Smart agriculture is a method that aims to provide
                                        sustainable agricultural production with the use of
                                        agricultural technologies. This method increases product
                                        quality, reduces product losses, and also helps to
                                        protect natural resources.
                                    </p>
                                </div>
                            </div>

                            <div class="tab">
                                <input type="radio" name="acc" id="acc3" />
                                <label for="acc3">
                                    <h3>How does AgriCoin work?</h3>
                                </label>
                                <div class="content">
                                    <p>
                                        AgriCoin is a digital currency that works using
                                        blockchain technology. This currency can be used to
                                        facilitate payment transactions between all stakeholders
                                        in the agriculture sector. This allows for faster and
                                        cheaper transactions between producers and consumers,
                                        without the need for intermediaries.
                                    </p>
                                </div>
                            </div>

                            <div class="tab">
                                <input type="radio" name="acc" id="acc4" />
                                <label for="acc4">
                                    <h3>What are the advantages of AgriCoin?</h3>
                                </label>
                                <div class="content">
                                    <p>
                                        The advantages of AgriCoin include faster and cheaper
                                        payment transactions, fewer intermediaries, and more
                                        secure transactions. Additionally, AgriCoin's blockchain
                                        technology ensures that all transactions are completely
                                        transparent and traceable.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
