 <!-- topics -->
 <section class="topics">
    <div class="container">
        <div class="col-lg-9 m-auto">
            <div class="card m-auto">
                <div class="card-body">
                    <div class="title-container">
                        <h3 class="topics-title">Topics</h3>
                        <form>
                            <button class="btn_primary" (click)="navigateToCreateTopic()">Create a topic</button>
                        </form>
                    </div>
                    <hr />
                    <p *ngIf="topics.length<1 && !isfetching">No topics available!</p>
                    <app-topic [topics]="topics" *ngIf="topics.length >= 1 && !isfetching"></app-topic>
                    <div class="d-flex justify-content-center" *ngIf="isfetching">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>