 <!-- topics -->
 <section class="topics">
    <div class="container">
        <div class="col-lg-9 m-auto">
            <div class="card m-auto">
                <div class="card-body">
                    <div class="title-container">
                        <h3 class="topics-title">Topics</h3>
                        <form>
                            <button class="btn_primary" (click)="navigateToCreateTopic()">Create a topic</button>
                        </form>
                    </div>
                    <hr />
                    <app-topic></app-topic>
                </div>
            </div>
        </div>
    </div>
</section>