<div class="reply-topic">
    <div class="row">
        <div class="col-2 reply-topic-info">
            <fa-icon [icon]="faUser"></fa-icon>
            <span id="reply-topic-username">burakduygun</span>
        </div>
        <div class="col-10 reply-topic-answer">
            <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti ducimus eligendi illum possimus earum magni optio fuga quidem, ea voluptatibus officia est soluta quam libero dolore aut maiores. Quod, quo.
            </p>
        </div>
    </div>
</div>