.dashboardcontainer {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    background:var(--primary-dark) ;
    border-left: 10px solid var(--primary-dark);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 0;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    cursor: pointer;
}


.navigation ul li:last-child{
    position: absolute;
    bottom: 2rem;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    height: 100px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li .logo-container {
    pointer-events: none;
}

.navigation ul li .logo-container a {
    pointer-events: auto;
}

.navigation ul li.logo-item:hover,
.navigation ul li.logo-item.hovered {
    background: transparent;
}

.navigation ul li.logo-item:hover a::after,
.navigation ul li.logo-item.hovered a::after,
.navigation ul li.logo-item:hover a::before,
.navigation ul li.logo-item.hovered a::before {
    box-shadow: none;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li a img {
    height: 50px;
    display: block;
    margin: auto;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--primary-dark);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon i{
   font-size: 1em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0; 
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after  {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li.active a{
    position: relative;
    display: flex;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    width: 100%;
    background: var(--white);
    color: var(--primary-dark)!important;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li.active a::before{
    content: '';
    position: absolute;
    right: 0; 
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.main {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
}

@media (max-width: 991px) {
    .navigation {
        left: -250px;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }
    
    .main {
        width: 100%;
        left: 0;
    }

    .main.active{
        left: 250px;
    }
}

@media (max-width: 480px) {
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.main.active {
        width: 100%;
        left: 0;
    }
    
    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
}