<div class="dashboardcontainer">
    <div class="navigation" [ngClass]="{'active': isNavigationActive}">
        <ul>
            <li class="logo-item">
                <div class="logo-container no-hover-effect">
                    <a routerLink="/">
                        <img *ngIf="!isNavigationActive" src="/assets/images/agri-logo-dashboard.png" alt="agricoin">
                    </a>
                </div>
            </li>
            <li routerLinkActive="active" *ngIf="roleId === 1">
                <a routerLink="/user/dashboard">
                    <span class="icon"><fa-icon [icon]="faGauge"></fa-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="roleId === 1">
                <a routerLink="/user/recentadverts">
                    <span class="icon"><fa-icon [icon]="faRectangleAd"></fa-icon></span>
                    <span class="title">Recent Adverts</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="roleId === 1">
                <a routerLink="/user/customers">
                    <span class="icon"><fa-icon [icon]="faUsers"></fa-icon></span>
                    <span class="title">Customers</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="roleId === 2">
                <a routerLink="/user/buycredit">
                    <span class="icon"><fa-icon [icon]="faCartShopping"></fa-icon></span>
                    <span class="title">Buy Credit</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="roleId === 2">
                <a routerLink="/user/sellcredit">
                    <span class="icon"><fa-icon [icon]="faMoneyBill"></fa-icon></span>
                    <span class="title">Sell Credit</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="roleId === 2">
                <a routerLink="/user/withdrawcredit">
                    <span class="icon"><fa-icon [icon]="faMoneyBillTransfer"></fa-icon></span>
                    <span class="title">Withdraw Credit</span>
                </a>
            </li>
            <li  routerLinkActive="active" *ngIf="roleId === 2">
                <a routerLink="/user/pastadvertisement">
                    <span class="icon"><fa-icon [icon]="faClockRotateLeft"></fa-icon></span>
                    <span class="title">Past Advertisements</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="roleId === 2">
                <a routerLink="/user/activeadvertisement">
                    <span class="icon"><fa-icon [icon]="faChartLine"></fa-icon></span>
                    <span class="title">Active Advertisements</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="roleId === 2">
                <a routerLink="/user/settings">
                    <span class="icon"><fa-icon [icon]="faGear"></fa-icon></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li>
                <a (click)="logout()">
                    <span class="icon"><span class="icon"><fa-icon [icon]="faRightFromBracket"></fa-icon></span></span>
                    <span class="title">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
      
    <div class="main" [ngClass]="{'active': isNavigationActive}">
        <div class="topbar">
            <div class="toggle" (click)="toggleNavigation()">
                <fa-icon [icon]="faBars"></fa-icon>
            </div>
        </div>
        <div class="container">  
            <router-outlet></router-outlet>
        </div>
    </div>
</div>