<section class="reset-password">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="card m-auto">
                    <div class="card-body">
                        <div class="reset-password-title">
                            <span class="title">Reset Password</span>
                        </div>
                        <div *ngIf="showError" class="mt-2 alert alert-danger" role="alert">
                            <span [innerHTML]="errorMessage"></span>
                        </div>
                        <div *ngIf="showSuccess" class="mt-2 alert alert-success" role="alert">
                            Your password has been reset. Please <a [routerLink]="['/auth/login']"> click here to log in. </a>
                        </div>
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="input-field">
                                <input
                                    class="password"
                                    placeholder="Create a password"
                                    required 
                                    id="password"
                                    [type]="showPassword ? 'password' : 'text'"
                                    appInputFieldStyling
                                    formControlName="password"
                                />
                                <fa-icon [icon]="faLock"></fa-icon>
                                
                            </div>
                            <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
                                <small class="text-danger" *ngIf="getControl('password')?.errors?.['required']">{{ validationService.getErrorMessageForControl('Password', getControl('password')!) }}</small>
                                <small class="text-danger" *ngIf="getControl('password')?.errors?.['maxlength'] || getControl('password')?.errors?.['minlength']">{{ validationService.getErrorMessageForControl('Password', getControl('password')!) }}</small>
                            </div>
                            <div class="input-field">
                                <input 
                                    class="password"
                                    placeholder="Confirm password"
                                    required 
                                    id="confirmPassword"
                                    [type]="showPassword ? 'password' : 'text'"
                                    appInputFieldStyling
                                    formControlName="confirmPassword"
                                />
                                <fa-icon [icon]="faLock"></fa-icon>
                                <fa-icon [icon]="showPassword ? faEyeSlash : faEye" class="showHidePw" (click)="togglePasswordVisibility()"></fa-icon>
                            </div>
                            <div *ngIf="getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched">
                                <small class="text-danger" *ngIf="getControl('confirmPassword')?.errors?.['required']">Confirm Password is required</small>
                            </div>
                            <div *ngIf="resetPasswordForm.errors?.['passswordMismatchError'] && getControl('confirmPassword')?.touched">
                                <small class="text-danger">Password mismatch</small>  
                            </div>
                            <button type="submit" class="btn_primary mt-4 mb-3" id="create" [disabled]="!resetPasswordForm.valid">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>