<div class="col-lg-5 col-md-4 m-auto">
    <div class="card-container p-4 bg-white shadow rounded">
        <h3 class="fs-4 mb-3">Settings</h3>
        <hr>
        <form class="product-form" [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
            <div *ngIf="user" class="form-container">
                <label>Name:</label>
                <input
                    type="text"
                    name="name"
                    disabled
                    [value]="user.name"
                >
            </div>
            <div *ngIf="user" class="form-container">
                <label>Surname:</label>
                <input
                    type="text"
                    name="surname"
                    disabled
                    [value]="user.surname"
                >
            </div>
            <div *ngIf="user" class="form-container">
                <label>Password:</label>
                <input
                    type="text"
                    name="password"
                    required
                    [value]="user.password"
                    formControlName="password"
                >
            </div>
            <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
                <small class="text-danger" *ngIf="getControl('password')?.errors?.['required']">{{ validationService.getErrorMessageForControl('Password', getControl('password')!) }}</small>
                <small class="text-danger" *ngIf="getControl('password')?.errors?.['maxlength'] || getControl('password')?.errors?.['minlength']">{{ validationService.getErrorMessageForControl('Password', getControl('password')!) }}</small>
            </div>
            <div class="form-container">
                <label>Confirm Password:</label>
                <input
                    type="text"
                    name="confirmPassword"
                    required
                    formControlName="confirmPassword"
                >
            </div>
            <div *ngIf="getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched">
                <small class="text-danger" *ngIf="getControl('confirmPassword')?.errors?.['required']">Confirm Password is required</small>
            </div>
            <div *ngIf="settingsForm.errors?.['passswordMismatchError'] && getControl('confirmPassword')?.touched">
                <small class="text-danger">Password mismatch</small>  
            </div>
            <div *ngIf="user" class="form-container">
                <label>Coin Address:</label>
                <input
                    type="text"
                    name="coinaddress"
                    disabled
                    [value]="user.coinAddress"
                >
            </div>
            <div *ngIf="user" class="form-container">
                <label>External Coin Address:</label>
                <input
                    type="text"
                    name="ecoinaddress"
                    required
                    formControlName="ecoinaddress"
                    [value]="user.externalCoinAddress"
                >
            </div>
            <div class="form-container">
                <button class="btn btn-submit w-100 mt-2" type="submit" [disabled]="!settingsForm.valid">Submit</button>
            </div>
        </form>
    </div>
</div>