 <!-- create-topic -->
 <section class="create-topic">
    <div class="container">
        <div class="col-lg-7 m-auto">
            <div class="card m-auto">
                <div class="card-body">
                    <div class="row">
                        <div class="topic-create-title">
                            <h2>Create a topic</h2>
                            <hr />
                            <form>
                                <input
                                    type="text"
                                    class="input-form"
                                    name="title"
                                    id="topic-title"
                                    placeholder="Write a topic title"
                                    required
                                 />
                                 
                                <div id="submit-container">
                                    <quill-editor class="content-editor" [placeholder]="''" [modules]="QuillConfiguration" [styles]="{'height': '160px'}" ></quill-editor>
                                    <button type="submit" class="btn_primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>