.bazaar-detail .col-3 {
    position: relative;
}

.bazaar-detail .product-info {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.06);
    max-height: auto;
    text-align: center;
}

.bazaar-detail .product-info, .bazaar-detail .product-order {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.06);
    max-height: auto;
}

.bazaar-detail .product-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 16px;
    height: 16px; 
    background-color: var(--primary);
    border-radius: 50% 0 50% 0;
    opacity: 0.5;
    z-index: 99;
}

.bazaar-detail .product-info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 26px;
    height: 26px;
    background-color: var(--primary);
    border-radius: 50% 0 50% 0;
    opacity: .08;
    z-index: 2;
}
  
.bazaar-detail .product-info .product-head {   
    text-align: center;
}

.bazaar-detail .product-info .product-head h3{
   font-size: 20px;
   font-weight: 500;
} 

.bazaar-detail .product-info .product-head .product-image {
    width: 160px;
    height: 160px;
    height: auto;
}

.bazaar-detail .product-info .price-info {
    display: flex;
    flex-direction: column;
}

.bazaar-detail .product-info .price-info span {
    padding: 10px;
    position: relative;
}

.bazaar-detail .product-info .price-info span:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    bottom: -5px;
    margin: 0 auto;
    height: 1px;
    background-color: #ccc;
}
  
.bazaar-detail .product-info .price-info span:last-child:after {
    display: none; 
}

.bazaar-detail .product-order{
    padding: 0;
}

.bazaar-detail .product-order .order-table {
    padding: 20px;
}

.bazaar-detail .product-order .btn_primary{
    border: none;
    color: var(--primary);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
}

.btn_modal {
    text-align: right;
    padding: 0.6rem 1.2rem;
    border: none;
    font-size: 0.85rem;
    font-weight:600;
    letter-spacing: 2px;
    cursor: pointer;
    width: fit-content;
    border-radius: 10px;
    margin-left: auto; 
    background:transparent;
}

.buy-color {
    color: var(--primary); 
    border:1px solid var(--primary);
}
  
.sell-color {
    color: var(--red);
    border: 1px solid var(--red);
}

.input-field {
    position: relative;
    height: 50px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    outline: none;
    font-size: 16px;
    color: var(--black)!important;
    border: 1px solid var(--gray-1);
    border-radius: 10px;
    transition: all 0.2s ease;
}

.input-field .ng-fa-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-1);
    font-size: 18px;
    right: 10px;
}

.input-field select {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    color: var(--black)!important;
    border: none;
    outline: none;
    font-size: 16px;
    border: 1px solid var(--gray-1);
    border-radius: 10px;
    background-color: transparent; 
    appearance: none; 
    cursor: pointer;
}


.input-field select option:hover{
    background-color: var(--primary);
    color: var(--white)!important;
}

.modal {
    backdrop-filter: blur(5px);
}


.modal .modal-header{
    border-bottom:none;
}

.modal .modal-header .modal-title{
    position: relative;
}

.modal .modal-header .modal-title::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 50px;
    background-color: var(--primary-dark);
    border-radius: 25px;
}

.modal-body .btn_primary{
    width: 100%;
    margin-top: 25px;
    border-radius: 15px;
}
