<div class="d-flex justify-content-center mt-3" *ngIf="isFetching">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="container-fluid px-4" *ngIf="!isFetching">
    <div class="mt-5">
      <h4 class="fs-4 mb-3">Recent Buy Adverts</h4>
      <div class="card-container p-4 bg-white shadow rounded">
        <p *ngIf="recentBuyAdverts.length < 1">No adverts available!</p>
        <table class="table" aria-describedby="buy" *ngIf="recentBuyAdverts.length > 1">
          <thead style="text-align: center;">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Price</th>
              <th scope="col">Date</th>
              <th scope="col">User Email</th>
            </tr>
          </thead>
          <tbody style="text-align: center;">
            <tr *ngFor="let advert of recentBuyAdverts; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ advert.productName }}</td>
                <td>{{ advert.unitPrice }}</td>
                <td>{{ advert.quantity }}</td>
                <td>{{ (advert.unitPrice ?? 0) * (advert.quantity ?? 0) }}</td>
                <td>{{ advert.date | date:'shortDate'}}</td>
                <td>{{ advert.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="mt-5">
      <h4 class="fs-4 mb-3">Recent Sell Adverts</h4>
      <div class="card-container p-4 bg-white shadow rounded">
        <p *ngIf="recentSellAdverts.length < 1">No adverts available!</p>
        <table class="table" aria-describedby="buy" *ngIf="recentSellAdverts.length > 1">
          <thead style="text-align: center;">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Price</th>
              <th scope="col">Date</th>
              <th scope="col">User Email</th>
            </tr>
          </thead>
          <tbody style="text-align: center;">
            <tr *ngFor="let advert of recentSellAdverts; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ advert.productName }}</td>
              <td>{{ advert.unitPrice }}</td>
              <td>{{ advert.quantity }}</td>
              <td>{{ (advert.unitPrice ?? 0) * (advert.quantity ?? 0) }}</td>
              <td>{{ advert.date | date:'shortDate'}}</td>
              <td>{{ advert.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>