  <!-- login -->
  <section class="loginpage">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="card m-auto">
                    <div class="card-body">
                        <div class="form-login">
                            <span class="title">Login</span>
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="input-field">
                                    <input
                                            type="email"
                                            placeholder="Enter your email"
                                            required
                                            appInputFieldStyling
                                            formControlName="email"
                                        />
                                        <fa-icon [icon]="faEnvelope"></fa-icon>
                                    </div>
                                    <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                                        <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">{{ validationService.getErrorMessageForControl('Email', getControl('email')!) }}</small>
                                        <small class="text-danger" *ngIf="getControl('email')?.errors?.['maxlength']">{{ validationService.getErrorMessageForControl('Email', getControl('email')!) }}</small>
                                        <small class="text-danger" *ngIf="getControl('email')?.errors?.['pattern']">{{ validationService.getErrorMessageForControl('Email', getControl('email')!) }}</small>
                                    </div>
                                <div class="input-field">
                                    <input
                                            placeholder="Enter your password"
                                            required
                                            class="password"
                                            [type]="showPassword ? 'password' : 'text'"
                                            appInputFieldStyling
                                            formControlName="password"
                                         />
                                    <fa-icon [icon]="faLock" class="icon"></fa-icon>
                                    <fa-icon [icon]="showPassword ? faEyeSlash : faEye" class="showHidePw" (click)="togglePasswordVisibility()"></fa-icon>
                                </div>
                                <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
                                    <small class="text-danger" *ngIf="getControl('password')?.errors?.['required']">{{ validationService.getErrorMessageForControl('Password', getControl('password')!) }}</small>
                                    <small class="text-danger" *ngIf="getControl('password')?.errors?.['maxlength'] || getControl('password')?.errors?.['minlength']">{{ validationService.getErrorMessageForControl('Password', getControl('password')!) }}</small>                                </div>
                                <button type="submit" class="btn_primary mt-3 mb-3" id="create" [disabled]="!loginForm.valid">Sign in</button>
                            </form>
                        </div>
                        <div class="forgot-password mb-3">
                            or
                            <a routerLink="/auth/forgotpassword">Forgot Password</a>
                        </div>
                        <div class="create-acount">
                            Don't have an account?
                            <a routerLink="/auth/register">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>