<div class="d-flex justify-content-center mt-3" *ngIf="isFetching">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="table-responsive container mt-5" *ngIf="!isFetching">
    <table class="table " aria-describedby="bazaar"> 
        <thead style="text-align: center;">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Current Price</th>
                <th scope="col">Expected Price</th>
                <th scope="col">Last 5 Days</th>
                <th scope="col">Fear & Greed Index</th>
            </tr>
        </thead>
        <tbody style="text-align: center; vertical-align: middle;">
            <tr *ngFor="let product of products; let i = index;" (click)="navigateToProductDetail(product.id)">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.currentPrice }}</td>
                <td>{{ product.expectedPrice }}</td>
                <td>
                    <div style="display: flex;justify-content: center; align-items: center;">
                        <canvas #lineChartCanvas style="max-width: 180px!important; max-height: 90px!important;"></canvas>
                    </div>
                </td>
                <td>
                    <div style="display: flex;justify-content: center; align-items: center;">
                        <canvas #gaugeChartCanvas style="max-width: 180px!important; max-height: 85px!important;"></canvas>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>  
</div>
