<div class="table-responsive container mt-5">
    <table class="table " aria-describedby="bazaar">
        <thead style="text-align: center;">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Old Price</th>
                <th scope="col">Current Price</th>
                <th scope="col">Expected Price</th>
                <th scope="col">Last 7 Days</th>
                <th scope="col">Fear & Greed Index</th>
            </tr>
        </thead>
        <tbody style="text-align: center; vertical-align: middle;">
            <tr>
                <th scope="row">1</th>
                <td>Wheat</td>
                <td>$44,160.63</td>
                <td>$272,572,670,509</td>
                <td>$44,175.30</td>
                <td style="max-width: 100px; max-height: 90px;"><canvas id="ProductChart">{{ productChart }}</canvas></td>
                <td style="max-width: 100px; max-height: 90px;"><canvas id="GaugeChart"></canvas></td>
            </tr>

        </tbody>
    </table>  
</div>
