<div class="container-fluid px-4">
    <!-- <div class="d-flex justify-content-center mt-3" *ngIf="isFetching">
      <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
      </div>
    </div> -->
    <!-- <div class="card-container p-4 bg-white shadow rounded" *ngIf="!isFetching"> -->
        <div class="card-container p-4 bg-white shadow rounded" >
          <table class="table" aria-describedby="buy">
              <thead style="text-align: center;">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Message</th>
                </tr>
              </thead>
              <tbody style="text-align: center;">
                <!-- <tr *ngFor="let customer of customers; let i = index;"> -->
                <tr>
                  <td>1</td>
                  <td>name</td>
                  <td>email</td>
                  <td>Mesaj</td>
                </tr>
              </tbody>
          </table>
    </div>
  </div>